/* static/styles/help.css */

.gate-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;       /* adjust as needed */
  height: 300px;      /* optional fixed box */
}

.gate-visual img {
  width: 100%;
  height: calc(100% - 50px); /* subtract space for buttons if needed */
  object-fit: contain;
}


.state-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
  justify-content: center;
}
